/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.awesome{
    padding-bottom: 5rem;
    scroll-margin-top:4.68rem;
}
.awesome__content-box{
    display: flex;
    margin-top: 1.25rem;
    margin: -15px;
}

.awesome__card{
text-align: center;
min-width:2rem;
padding: 1rem 1.2rem;
}

.awesome__card-description{
    font-family: Raleway;
    max-width: 23rem;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    display: inline-block;
}


.awesome__card-title{
font-family: Open Sans;
font-size: 1.5rem;
margin-bottom: 1.2rem;

}




@media(max-width:768px){

    .awesome__card{
        text-align: center;
        min-width:2rem;
        padding: 1rem 1.2rem;
        margin-left: auto;
        margin-right: auto;
        }
    
    .awesome__content-box{
        display: flex;
        flex-wrap: wrap;
    }

    .awesome__card-description{
        font-family: Raleway;
        max-width: 23rem;
        font-size: 1.2rem;
        margin-bottom: 1.25rem;
        display: inline-block;
    }
    
    .awesome__card-title{
    font-family: Open Sans;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}
}