/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.awesome{
    padding-bottom: 5rem;
    scroll-margin-top:4.68rem;
}
.awesome__content-box{
    font-size: 0;
}

.awesome__card{
display: inline-block;
text-align: center;
width: 33%;
padding: 1rem 1.2rem;
}

.awesome__card-description{
    font-family: Raleway;
    max-width: 370px;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    display: inline-block;
}


.awesome__card-title{
font-family: Open Sans;
font-size: 1.5rem;
margin-bottom: 1.2rem;

}