.banner-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/image.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  }
  
  .banner-section-logo{
    width: 283px;
  }

  .banner-section::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .banner-section .container {
    padding: 8rem 0;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 3rem;
  }
  
  .banner-section-text-content {
    text-align: left;
  }
  
  .banner-section-text-content .section-header {
    text-align: left;
  }
  
  .banner-section-form {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 26rem;
  }
  .banner__section-header__title{
    font-size: 48px;
    color: #ffffff;
  }

  .section-header__subtitle{
    color: #ffffff;
    font-size: 18px;
  }
  
 .bannner__button{
      padding: 20px 100px;
      color: #fff;
      border: 0;
      border: 2px solid;
      border-color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      cursor: pointer;
      margin-top: 27px;
  }

  .banner-section-form__title {
    text-transform: uppercase;
    color: #333333;
    padding: 1rem 1.5rem;
  }
  
  
  .banner__form-legend {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    position: relative;
    top: 3rem;
    white-space: nowrap;
  }

  .banner__legend-strong-text {
    color: #ec7979;
  }

  .banner__form-user-data {
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5rem 50px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .banner__button {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }

.separator-banner{
  width: 10.6rem;
  display: inline-block;
  border: 1px solid;
  border-color: #fff;
  margin-top: 2.5rem;
}