.contact{
  scroll-margin-top:75px;
}

.form-input,
.form-textarea {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  border: none;
  font-size: 1.13rem;
  border-bottom: 1px solid #bdbdbd;
  padding: 5px;
  padding-left: 10px;
  padding-right: 18.7rem;
  color: #333333;
}

.form-input::placeholder,
.form-textarea::placeholder {
  font-size: 1rem;
  color: #bdbdbd;
  padding: 1rem;
}

.form-input:focus,
.form-textarea:focus {
  outline: 2px solid #ec7979;
  border: none;
}

.form-input:focus::placeholder,
.form-textarea:focus::placeholder {
  opacity: 0;
}

  
  .contact-form-fieldset {
    width: 100%;
    display: flex;
    column-gap: 3rem;
    border: none;
  }
  
  .contact-input-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }
  
  .contact-form-fieldset > .form-label {
    width: 50%;
  }
  
  .contact-form-fieldset .form-textarea {
    height: 100%;
  }

  .contact-form-fieldset{
    margin-top: 6.2rem;
  }

  .contact-form__button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5.6rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: capitalize;
        color: #fff;
        background: #EC7979;
        font-size: 1.25rem;
        border: 2px solid #fff;
        padding: 1rem 16rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        margin-bottom: 4rem;
  }

  .contact-form__button:hover{
    background: #c06262;
  }

  .contact-form__button:active{
    background: #a55454;
  }

@media(max-width:1035px){
  .form-textarea {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    border: none;
    font-size: 1.13rem;
    border-bottom: 1px solid #bdbdbd;
    padding: 5px;
    padding-left: 10px;
    padding-right: 13rem;
    color: #333333;
  }
  
}

@media(max-width:1035px){
  .form-textarea {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    border: none;
    font-size: 1.13rem;
    border-bottom: 1px solid #bdbdbd;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10rem;
    color: #333333;
  }
  
}