.customers{
    background: #FFFFFF;
    padding-bottom: 5rem;
}
.customers__content-box{
display: flex;
column-gap: 2rem;
margin-top: 2rem;
}


.review-section__feedback::after {
    content: '';
    position: absolute;
    width: 0;
	height: 0;
    top: 100%;
    left: 20%;
	border-left: 1.4rem solid transparent;
	border-right: 1.4rem solid transparent;
	border-top: 1.4rem solid #E2E2E2;
}

.review-section__feedback {
    text-align: center;
    position: relative;
    font-family: Raleway;
    font-size: 1.12rem;
    padding: 2rem 1rem;
    background: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
}

.customers{
    scroll-margin-top:75px;
}

.review-section__customer{
    display: flex;
    column-gap: 2rem;
    align-items: flex-start;
    margin-top: 4rem;
}

.review-section__card-customer-text{
    text-align: left;
}

.review-section__card-customer-name{
font-family: Open Sans;
font-size: 24px;
}

.review-section__card-customer-post{
    font-family: Raleway;
    font-size: 18px;
    padding-top: 15px;

}

