.design {
    padding: 50px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/images/image\(1\).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 7.5rem;
      padding-bottom: 5rem;
  }

.section-header__title{
color: #fff;
  }
  
  .design__content-box {
    margin-top: 73px;
    text-align: center;
  }

.design__button{
    padding: 20px 100px;
    color: #fff;
    border: 0;
    border: 2px solid;
    border-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 50px;
}

.design-separator{
    width: 10.6rem;
    display: inline-block;
    border: 1px solid;
    border-color: #fff;
    margin-top: 2.5rem;
}