.design {
    padding: 50px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/images/image\(1\).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 7.5rem;
      padding-bottom: 5rem;
  }

  .design-header {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    padding: 2.5rem 0;
  }
  
  .design-header__title {
    font-size: 2.3rem;
    color: #fff;
    text-transform: uppercase;
  }
  
  .design__content-box {
    margin-top: 4.5rem;
    text-align: center;
  }

  .design-header__subtitle {
    font-size: 1.13rem;
    color: #fff;
    margin-top: 2.5rem;
  }
  

.design__button{
    padding: 1.25rem 6.25rem;
    color: #fff;
    border: 0;
    border: 2px solid;
    border-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 3.12rem;
}

.design__button:hover{
  border: 2px solid #EC7979;
}

.design-separator{
    width: 10.6rem;
    display: inline-block;
    border: 1px solid;
    border-color: #fff;
    margin-top: 2.5rem;
}

