.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #000;
    max-width: 100%;
    min-height: 10.24rem;
}

.footer__icons-content{
    display: flex;
    column-gap: 2rem;
    padding: 2rem 0;
}

.footer-copyright{
    font-family: "Raleway";
    text-align: center;
    font-size: 1.13rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 1rem;
}

.footer__icons-content > a {
    margin-top: auto;
    margin-bottom: auto;
  }


.footer__icons {
transition: 1s; 
}
.footer__icons:hover {
transform: scale(1.2);
}

@media(max-width:428px){
    .footer{
        height: 10rem;
    }

    .footer__icons-content{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
    }
    .footer-copyright{
        text-align: center;
    }

    .footer__icons{
        width: 2rem;
        height: 1.5rem;
    }
    

}