.header {
    width: 100%;
    background: #000000;
    min-height: 4.6rem;
    padding: 0 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
  }
  
  .header-navigation {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    column-gap: 3rem;
  }
  
  .nav-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.88rem;
    line-height: 1.4;
    text-transform: capitalize;
    color: #ffffff;
  }