.header {
  width: 100%;
  background: #000000;
  max-height: 4.5rem;
  padding-left: 10%;
  padding-right: 12%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  }

  .header-menu{
    display: flex;
    column-gap:6.25rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header-logo{
    width: 99%;
  }

  .header-navigation {
    display: flex;
    column-gap: 8%;
    
  }
  
  .nav-link {
    font-family:Open Sans;
    font-weight: 600;
    font-size: 0.88rem;
    line-height: 1.4;
    text-transform: capitalize;
    color: #ffffff;
  }
  
  .nav-link:hover{
    color: #AB4949;
}


@media(max-width:952px){
  .header-menu{
    display: none;
  }
}

