.header {
  width: 100%;
  background: #000000;
  max-height: 4.5rem;
  padding-left: 10%;
  padding-right: 12%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  }

  .header-menu{
    display: flex;
    column-gap:6.25rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header-logo{
    width: 99%;
  }

  .header-navigation {
    display: flex;
    column-gap: 8%;
    
  }
  
  .nav-link {
    font-family:Open Sans;
    font-weight: 600;
    font-size: 0.88rem;
    line-height: 1.4;
    text-transform: capitalize;
    color: #ffffff;
  }
  
  .nav-link:hover{
    color: #AB4949;
}

.menu-burger-btn {
  display: none;
}

.menu-burger-label {
  display: none;
}

.menu-burger-label:after,
.menu-burger-label:before {
  content: "";
}

.menu-burger,
.menu-burger-label:after,
.menu-burger-label:before {
  height: 3px;
  width: 100%;
  position: absolute;
  background: #ffffff;
  margin: 0 auto;
}

.menu-burger {
  top: 8px;
}

.menu-burger-label:after {
  bottom: 0;
}
.menu-burger-label:before {
  top: 0;
}

.menu-burger-btn:focus ~ .menu-burger-label {
  outline: 2px solid white;
  outline: auto;
  outline-offset: 4px;
}




@media(max-width:952px){
  .header-menu{
    display: none;
  }
}

@media(max-width:768px){
  .menu-burger-btn {
    display: block;
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
}

