.section-header{
    text-align:center;
    padding: 25px;
    font-family: Raleway;
}

.section-header__title{
    font-size: 2.3rem;

}

.section-header__description{
    font-size: 18px;
    margin-top: 1rem;
}

.section-header__line{
    display:inline-block;
    height: 1px;
    width: 170px;
    background-color: #EC7979;
    margin-top: 15px;
    
}

