.social-section {
    background: #f8efef;
    padding: 1rem 0;
  }
  
  .social-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }
  
  .social-section-title {
    color: #333333;
    margin-bottom: 1rem;
    font-family: Open Sans;
  }
  
  .social-section-text-info {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.13rem;
    color: #86878b;
  }
  
  .social-section-icons-box {
    display: flex;
    column-gap: 2rem;
  }

.social-section-icons-box > a {
  margin-top: auto;
  margin-bottom: auto;
}


.social-section-icon {
  transition: 1s; 
  }
  .social-section-icon:hover {
  transform: scale(1.2); 
  }
  

  
  @media (max-width: 768px){


    .social-section{
        height: 20rem;
    }
  
    .social-section-container{
        flex-wrap: wrap;
    }
  
    .social-section-text{
        padding-top: 30px;
        text-align: center;
    }
  
    .social-section-icons-box {
      margin-top: 2rem;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 428px){


    .social-section{
        height: 15rem;
    }
  
  
    .social-section-text{
        padding-top: 30px;
        text-align: center;
    }
  
    .social-section-icons-box {
      margin-top: 3rem;
    }

    .social-section-icon {
      transition: 1s; 
      height: 1rem;
      }
      
  }