.social-section {
    background: #f8efef;
    padding: 1rem 0;
  }
  
  .social-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }
  
  .social-section-title {
    color: #333333;
    margin-bottom: 1rem;
    font-family: Open Sans;
  }
  
  .social-section-text-info {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.13rem;
    color: #86878b;
  }
  
  .social-section-icons-box {
    display: flex;
    column-gap: 2rem;
  }