/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');



.container{
    font-size: 0;
    margin-top: 138px;
    margin-bottom: 100px;
    max-width: 1170px;
    height: 501px;
    border: 1px solid #C6CBCD;
    margin-bottom: 50px

}

.tabs__content{
    display: inline-block;
    width: 570px;
}

.content__text{
    padding-left: 100px;
    padding-right: 30px;
    width: 570px;
    height: 124px;
}

.tabs__title{
    font-family: Open Sans;
    font-size: 30px;
    margin-bottom: 27px;
    margin-top: 62px;
}

.tabs__description{
font-family: Raleway;
font-size: 18px;
}

.tabs__button{
    font-family: Open Sans;
    font-size: 18px;
    color: aliceblue;
    width: 270px;
    height: 58px;
    background: #EC7979;
    margin-top: 27px;
    margin-bottom:54px;
}

.liberty__statue{
    padding-left: 100px;
    display: inline-block;
    vertical-align:middle;
}